@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: 37 99 235;
  }

  body {
    @apply antialiased;
  }

}

@layer utilities {
  .scrollbar-thin {
    scrollbar-width: thin;
    scrollbar-color: #334155 transparent;
  }
  .custom-price-marker {
    background: transparent;
    border: none;
  }
  
  .map-tiles-3d {
    filter: brightness(0.95) contrast(1.1) saturate(1.2) sepia(0.1) hue-rotate(180deg);
  }
}
